doctype html
head
  include partials/head.pug
#container
  #header
    img(src='/images/sw-logo.png' alt='Autodesk Forge Digital Twin Demo')
    h SeikoWall Digital Twin
  #viewer
  #sidebar
    include partials/sidebar.pug
  include partials/footer.pug